@model IEnumerable<RestaurantRatyerMVC.Models.RatingModels.RatingListItem>

@{
    ViewData["Title"] = "Ratings";
}

<h1>Ratings</h1>
<p>
    @Html.ActionLink("Rate A Restaurant", "RatingCreate")
</p>
<table class="table">
     <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
       <th>
       </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
           <td>
            <div>
             @Html.ActionLink("Edit", "Edit", new {  id = item.Id})
             @Html.ActionLink("Detail", "RatingRestaurant", new {  id = item.Id})
             @Html.ActionLink("Delete", "Delete", new {  id = item.Id})
            
           </div>
           </td>
        </tr>
    }

</table>
 <a asp-action="Index">Back to List</a>
